.Login{
    padding: 2em;
    border: 5px solid #401dcbb7;
    border-radius: 2.5em;
    height: 150px;
    width: 200px;
    background-color: #b57cffcb;
    margin-top: 5em;
    margin-left: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 25em;
    align-items: center;
    
}
.Log{
    color: #000000;
}
a{
    all: unset;
    color: #f6f5f1;
}
.input-1 {
    all: unset;
    padding: 1em;
    width: fit-content;
    border-radius: 0.3em;
    background-color: #484848;
}

.button {
    padding:.4rem 1rem;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    background-color: #7c4dff;
    color:#212121;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 1px 3px rgba(0,0,0,.2);
    

    transition: 0.2s;
    }
    .button:hover, .button:focus{
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#e254ff),to(#b47cff));
        background-image: linear-gradient(#e254ff 10%,#b47cff 100%);
        
      }
      
      .button:active {
        background-color: #e254ff;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) inset;
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#e254ff),to(#484848));
        background-image: linear-gradient(#e254ff 10%,#484848 100%);
      }